# PGADMIN
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=123456

# POSTGRESS
POSTGRES_DB=postgres
POSTGRES_PASSWORD=myodoo
POSTGRES_USER=odoo

# odoo
HOST=ai_up_odoo_db #pgadmin conect to this host
USER=odoo
PASSWORD=myodoo

# AI Models
SAFETENSORS_FAST_GPU=0
OPENAI_API_KEY=
